* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }


/*Grid layout config for header, sidebar nav, and inner content panel!*/
body {
    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 10vh 5px 90vh;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vw;
    background-color: #A0C878;
    border: 5px solid #73946B;
}

header > * {
    margin-left: 2vw;
}

hr {
    grid-template-rows: 2/2;
    height: 5px;
    width: 100vw;
}

nav {
    grid-column: 1/2;
    grid-row: 3/4;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #73946B;
    border-right: 5px solid white;
}

nav > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    background-color: #9EBC8A;
    height: 4rem;
    width: 80%;
    border-radius: 1rem;
    font-size: 16px;
}

#content {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #DDEB9D;
}

/*--------------------------------------------------------------------*/